<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      text="text/css"
      media="screen and (min-width:701px)"
      href="destop.css"
    />
    <link
      rel="stylesheet"
      text="text/css"
      media="screen and (max-width:700px)"
      href="mobile.css"
    />
    <title>stuDEBT</title>
  </head>
  <body>
    <!--Header of the Page-->
    <div class="header">
      <a href="#">Back to dashboard</a>
      <h6 id="name">Name of School</h6>
    </div>

    <!--Form starts Hear-->
    <div class="main-form">
      <h2>ADD DEBTORS</h2>

      <!--Form to add debtors to the database-->
      <form action="" method="post">
        <!--flex box containing form-->
        <div id="flexbox">
          <!--First form card for student information-->
          <div class="content1">
            <h5>Student's Information</h5>

            <div class="inner-content1">
              <div>
                <label for="first name">First Name</label><br />
                <input type="text" /><br />

                <label for="last name">Last Name</label><br />
                <input type="text" /><br />

                <label for="Email">Email</label><br />
                <input type="email" /><br />

                <label for="Address">Address</label><br />
                <input type="text" />
              </div>

              <!--Right side of the student infromation card-->
              <div class="shift">
                <label for="first name">Enter BCN Number</label><br />
                <input type="number" /><br />

                <label for="last name">Enter NIN Number</label><br />
                <input type="number" /><br />

                <label for="Email">Class</label><br />
                <input type="text" /><br />

                <!--Drop Down for the list  of states-->
                <label for="Address">State</label><br />
                <select name="states" id="states">
                  <option value="Abia">Abia</option>
                  <option value="Adamawa">Adamawa</option>
                  <option value="Akwa-Ibom">Akwa-Ibom</option>
                  <option value="Anambra">Anambra</option>
                  <option value="Bauchi">Bauchi</option>
                  <option value="Bayelsa">Bayelsa</option>
                  <option value="Benue">Benue</option>
                  <option value="Borno">Borno</option>
                  <option value="Cross River">Cross River</option>
                  <option value="Delta">Delta</option>
                  <option value="Ebonyi">Ebonyi</option>
                  <option value="Edo">Edo</option>
                  <option value="Ekiti">Ekiti</option>
                  <option value="Enugu">Enugu</option>
                  <option value="FCT">Federal Capital Territory</option>
                  <option value="Gombe">Gombe</option>
                  <option value="Imo">Imo</option>
                  <option value="Jigawa">Jigawa</option>
                  <option value="Kaduna">Kaduna</option>
                  <option value="Kebbi">Kebbi</option>
                  <option value="Kogi">Kogi</option>
                  <option value="Kwara">Kwara</option>
                  <option value="Lagos">Lagos</option>
                  <option value="Nasarawa">Nasarawa</option>
                  <option value="Niger">Niger</option>
                  <option value="Ogun">Ogun</option>
                  <option value="Ondo">Ondo</option>
                  <option value="Osun">Osun</option>
                  <option value="Oyo">Oyo</option>
                  <option value="Plateau">Plateau</option>
                  <option value="Rivers">Rivers</option>
                  <option value="Sokoto">Sokoto</option>
                  <option value="Taraba">Taraba</option>
                  <option value="Yobe">Yobe</option>
                  <option value="Zamfara">Zamfara</option>
                </select>
              </div>
            </div>
          </div>

          <!--Second card for the debt details-->
          <div class="content2">
            <h5>Debt Details</h5>

            <div class="inner-content2">
              <div>
                <label for="Address">Purpose of Debts</label><br />
                <input type="text" /><br />

                <label for="Address">Amount</label><br />
                <input type="text" /><br />
              </div>

              <!--Right side of the debt details card-->
              <div class="shift">
                <label for="Address">Session/Term Owing</label><br />
                <input type="text" />
              </div>
            </div>
          </div>
        </div>

        <div id="flexbox2">
          <div id="innerflex2">
            <!--Image uploader-->
            <div class="content3">
              <input type="file" id="file" style="display: none" /><br />
              <label for="file" id="upload">
                <img src="profile.jpg" id="photo" alt="profile" /><br />
                Upload Debtors Passport</label
              >
            </div>

            <!--Submit button-->
            <div class="content4">
              <button id="button" class="btn btn-pri">
                <a href="#">Submit</a>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id="modal">
      <div class="modal-content">
        <h3>Add Debtor</h3>
        <p>Do you want to add John Brown as a debtor ?</p>
        <button>Submit</button>
        <button id="cancel">Cancel</button>
      </div>
    </div>
    
    <script src="script.js"></script>
    
  </body>
</html>
