@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
}
:root {
  /* colors */

  /* state colors */

  --info: #2f80ed;
  --success: #27ae60;
  --warning: #e2b93b;
  --error: #eb5757;

  /* Button color */

  --primary-btn: #44c2fd;
  --secondary-btn: #c6b0ff;
  --btn-hover: #22617f;
  --btn-active: #a1e0fe;
  --btn-disable: #e0e0e0;

  /* black colors */
  --black1: #000000;
  --black2: #1d1d1d;
  --black3: #282828;
  --white: #ffffff;

  /* Grey colors */
  --Gray1: #333333;
  --grey2: #4f4f4f;
  --grey3: #828282;
  --grey4: #bdbdbd;
  --grey5: #e0e0e0;
}
/*styling for add debtor form*/
header {
  display: none;
}
header h4 {
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 700;
  margin: 5px;
  margin-left: -5px;
}
.header a {
  font-size: 20px;
  line-height: 22px;
  color: #b395ff;
  text-decoration: none;
  margin-left: 12px;
}
h2 {
  font-weight: 700;
  font-size: 32.7123px;
  line-height: 36px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #8d60ff;
}
#upload {
  color: #7650d4;
  font-weight: 600;
  font-size: 20.4452px;
  line-height: 22px;
  cursor: pointer;
}
h5 {
  font-weight: 600;
  font-size: 20.4452px;
  line-height: 22px;
  color: #8d60ff;
  padding-top: 7px;
  padding-bottom: 15px;
  margin-left: 12px;
}
input,
select {
  height: 45px;
  padding: 7px;
  font-size: 1em;
  border: 1px solid var(--grey4);
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 365.97px;
}
.content4 {
  padding-left: 300px;
  padding-bottom: 20px;
}
.btn-pri {
  background-color: #8d60ff;
}
.btn {
  display: inline-block;
  padding: 9px;
  border-radius: 7px;
  color: var(--white);
  font-weight: 500;
  border: none;
  line-height: 23px;
  font-size: 14.3116px;
}
label {
  color: var(--grey2);
  font-weight: 700;
  font-size: 16.3561px;
  line-height: 23px;
}
#photo {
  border-radius: 10px;
  width: 200px;
  height: 180px;
  border: 1px solid #8d60ff;
}
.content3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#text {
  margin-left: 12px;
}

/*Debt details page*/
#name {
  display: none;
}
#detail,
#submit {
  text-align: center;
  margin-top: 20px;
}
#debt-details {
  margin-top: 70px;
  margin-left: 12px;
  margin-bottom: 100px;
}
/*styling for success page*/
#success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
#success p {
  margin-left: 15px;
  text-align: center;
  font-weight: 540;
  font-size: 16px;
  line-height: 25px;
}
#success-pic,
#error-pic {
  background-color: #daf3ff;
  width: 366.99px;
  height: 204.45px;
  border-radius: 20.4452px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
#success img,
#error-pic img {
  width: 131.87px;
}
#success button,
#error-msg button {
  margin-top: 100px;
}
#success-btn a {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
}

/*styling for pop up page on click of submit*/
#modal {
  width: 100%;
  height: 100%;
  background-color: rgba(141, 96, 255, 0.3);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-content {
  width: 335.64px;
  height: 201.38px;
  background-color: #ffffff;
  border-radius: 6.71283px;
  text-align: center;
  padding-top: 25px;
}
.modal-content button {
  padding: 8px;
  border: none;
  border: 1px solid #2aef7d;
  border-radius: 7px;
  color: #2aef7d;
}
#cancel {
  padding: 8px;
  border: none;
  border: 1px solid #eb5757;
  border-radius: 7px;
  margin-left: 25px;
  color: #eb5757;
}
p {
  width: 230px;
  color: #4f4f4f;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*styling for error page*/
#error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
}
#error-msg h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 62px;
  color: #44c2fd;
  margin-bottom: 10px;
  margin-top: 30px;
}
span {
  color: #8d60ff;
}
#error-msg h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #4f4f4f;
}
#error-msg button {
  background: #a07bff;
  border: 1px solid #a07bff;
  display: inline-block;
  padding: 8.17807px;
  border-radius: 7.16px;
  color: var(--white);
  font-weight: 700;
  border: none;
  font-size: 18px;
}
