<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    text="text/css"
    media="screen and (min-width:901px)"
    href="./css/schhol_settings.css">

    <link
    rel="stylesheet"
    text="text/css"
    media="screen and (max-width:900px)"
    href="./css/school_setting_mobile.css">

    
    <title>Settings Security</title>

    <link  rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.css">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'><link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>

</head>
<body>
    <div class="d-flex justify-content-between p-3 text-black ground">

        <div class="upheader">
            <h1 class="hh2">Settings</h1>
            <div class="pro">
                <h4 class="h4">Name of School </h4>
                    <a class="fal"><img src="./images/Combined-Shape.png" class="imgfas"></a>
                    <img src="./images/Ellipse 3.png" alt="ellipse." class="img">

            </div>
        </div>

        <div class="header">
             
            <div class="">
                <div> <a href="" class="bar menu"><img src="./images/menu.png" id="menu"><span class="meni">Menu</span> </a>  </div>
           
            <div class="profile">
              
                <div><a href="" class="bar Overviews"><i class="fa fa-user"></i><span>Overviews</span> </a></div>
                <div><a href="" class="bar student"><i class="fa fa-user"></i><span>Students</span> </a></div>
                <div><a href="" class="bar appeal"><i class="fa fa-edit"></i><span>Appeals</span></a> </div>
            </div>
        
            <div class="down">
                <button class="button"><a href="" class="bar settings"><i class="fa fa-cog"></i><span>settings</span></a></button><br>
                <a href="" class="bar logout"><i class="fa fa-sign-out" style="color: red;"></i><span>logout</span> </a>
            </div>
            </div>
        </div>

        
   <div class="d-flex p-3 justify-content-end so ">
     <div clas="opt">

         <div class="options">
             <h2>Help</h2>
            <a href="#" class="bas">Help center</a>
            <a href="#" class="bas">contact us</a>
            <a href="#" class="bas">Terms and Privacy Policy</a>
        </div>
        </div>
      </div>

      <div class="details">
        <button class="det"><span>profile</span></button>
        <button class="det"><span>Apperance</span></button>
        <button class="det"><span>Nortifications</span></button>
        <button class="det"><span>Security</span></button>
    
    </div>
    </div>

    <div class="nortifications">

        <div class="data">
       
           <h1>Nortifications</h1>

         <!--menu bars  -->

           <div class="moile-container">

           
            <div class="topnav">
              <h6 class="active">In App</h6>
              <div id="myLinks">
                <ul class="lis">
                    <li class="spac"><p id="p">comment</p>
                        <div class="center">
                            <input type="checkbox" name="">
                        </div>
                        
                    </li>
                    
                    <li class="spac"><p id="p">Appeal</p>
                        <div class="center">
                            <input type="checkbox" name="">
                        </div>
                        
                    </li>
            
                    <li class="spac"><p id="p">Authenticator App</p>
                        <div class="center">
                            <input type="checkbox" name="">
                        </div>
                        
                    </li>
                   
                </ul>
              </div>
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-chevron-circle-down"></i>
              </a>
            </div><hr>
            
            
            
            <div class="topnav">
              <h6 class="active">By Email</h6>
              <div id="mLinks">
            
              </div>
              <a href="javascript:void(0);" class="icon" onclick="myFunc()">
                <i class="fa fa-chevron-circle-down"></i>
              </a>
            </div><hr>
            
            
            
            
            <div class="topnav">
                <h6 class="active">By Push Nortification</h6>
                <div id="Links">
                    
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFuncs()">
                  <i class="fa fa-chevron-circle-down"></i>
                </a>
              </div><hr>
  
              
        </div>
       
       </div>


       <div class="savecancel2">
        <button type="reset" class="cleabtn">Cancel</button>
        <button type="reset" class="savbtn">Save</button>
        
    </div>

     </div>

       <div>

   </div>
   
   <script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    
    function myFunc() {
      var x = document.getElementById("mLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }

    function myFuncs() {
      var x = document.getElementById("Links");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    </script>
</body>
</html>