<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School login page</title>
    <link rel="stylesheet" href="./css/logins_signups.css" />
  </head>
  <body>
    <main class="gencont">
      <div class="logodiv">
        <div class="logo-sec">
          <img src="images/logo-2.svg" alt="logo" />
          <h1 class="whitecol">stuDEBT</h1>
        </div>
        <p class="lt-regular ltwht">
          Login using your school ID to update your debtor's record and also
          search for debtors
        </p>
      </div>
      <div class="form">
        <p class="msg001 msg002">
          Not a partner? <a href="school_sign_up_1.html"> Sign up</a>
        </p>
        <h2 class="head0">Log in to stuDebt</h2>
        <p class="welcomep">Welcome back!</p>
        <form action="#">
          <div>
            <label for="sid">School ID</label><br />
            <input type="text" id="sid" name="sid" required />
          </div>
          <div>
            <label for="password">Password</label><br />
            <input type="password" id="password" name="password" required />
          </div>
          <div>
            <a class="fgtpswd" href="School_Forgot_Password_Email_1.html"
              >Forgot Password?</a
            >
          </div>
          <button type="submit" class="btn btn-sec btn-lag" value="log in">
            Log in
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
