<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    text="text/css"
    media="screen and (min-width:901px)"
    href="./css/stud_settings.css">

    <link
    rel="stylesheet"
    text="text/css"
    media="screen and (max-width:900px)"
    href="./css/stud_mobile.css">
    
    <title>Studens Security Settings</title>

    <link  rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.css">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>
    <div class="d-flex justify-content-between p-3 text-black ground">
  
        <div class="header">
             
            <div class="">
                <div> <a href="" class="bar menu"><img href="menu.png"><span>Menu</span> </a>  </div>
           
            <div class="profile">
                <div><a href="" class="bar student"><i class="fa fa-user"></i><span>Students</span> </a></div>
                 <div><a href="" class="bar appeal"><i class="fa fa-edit"></i><span>Appeals</span></a> </div>
            </div>
    
            <div class="down">
                <button class="button"><a href="" class="bar settings"><i class="fa fa-cog"></i><span>settings</span></a></button><br>
                <a href="" class="bar logout"><i class="fa fa-sign-out" style="color: red;"></i><span>logout</span> </a>
            </div>
            </div>
        </div>
    
        <div class="d-flex p-3 justify-content-end so ">

            
            <div class="opt">

                    <h1>settings</h1>
    
                <div class="options">
                    <a href="#" class="bar">profile</a>
                    <a href="#" class="bar">Security</a>
                    <a href="#" class="bar">Help and support</a>
                </div>
                </div>
              </div>
    

    <div class="edit">
        
        <div><a href="" class="arrows"><i class="fa fa-arrow-left"></i></span></a> </div>

        <div class="update">
          <img src="images/Frame.png" alt="" class="img">
          <div class="sec">
              
          <h1>Security</h1>
        <p class="col">Safeguard your account from intruder</p>
    </div>
        </div>

        <div class="verify">
            <div class="links">
            <div> <a href=""  class="dee" ><span>
                <h1>2FA</h1>
                <P>Help protect account from unauthorised access by using a second authentication method</P>
            </span> </a> </div><hr>
                
            <div> <a href="" class="dee" ><span>
                <h1>Reset Password</h1>
                <P>change your Password</P>
            </span></a></div><hr>

            <div> <a href="" class="dee" ><span>
                <h1>Additional Password Protection</h1>
                <p>Enable this to add extra layer of security to your account by requiring additional information to reset Password.</p>
            </span></a></div><hr>

            <div> <a href="" class="dee"><span>
                <h1>Connected Devices</h1>
                <p class="">View the devices your account has been logged into.</p>
                
            </span></a></div><hr>
            </div>
            
    <button class="saves">  </button>

    </div>
    </div>
    </div>>
    


    <script src="js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>