<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student forgot password email 3</title>
    <link rel="stylesheet" href="./css/Forgot_password.css" />
  </head>
  <body>
    <main>
      <div class="logo-sec">
        <img src="images/logo-2.svg" alt="logo" />
        <h1 class="whitecol">stuDEBT</h1>
      </div>
      <div class="gencont">
        <div class="imageman">
          <img
            src="images/casual-life-3d-3.png"
            alt="A boy siting infront of a laptop"
          />
        </div>
        <div class="form">
          <div class="headiv headiv001">
            <h2 class="Heading Heading001">Create New Password</h2>
            <p>
              Your new password should be differnt from the previously used
              passwords
            </p>
          </div>
          <form action="#">
            <div>
              <label for="passwc">New Password</label><br />
              <input type="password" id="passwc" name="passwc" required />
            </div>
            <div>
              <label for="passwcon">Confirm Password</label><br />
              <input type="password" id="passwcon" name="passwcon" required />
            </div>
            <button type="submit" class="btn btn-sec btn-lag">Save</button>
          </form>
          <p class="bottmp">
            Remember Password? <a href="student_login.html">Log in</a>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
