<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      text="text/css"
      media="screen and (min-width:701px)"
      href="destop.css"
    />
    <link
      rel="stylesheet"
      text="text/css"
      media="screen and (max-width:700px)"
      href="mobile.css"
    />
    <title>stuDEBT</title>
  </head>
  <body>
    <header>
      <img src="studebt.png" alt="logo" width="48px" />
      <h4>stuDEBT</h4>
    </header>
    <div id="success">
      <div id="success-pic">
        <img src="success-pic.svg" alt="SUCCESSFUL"/>
      </div>
      
      <p>Your debtors list upload to our database is SUCCESSFUL!</p>

      <button class="btn btn-pri">
        <a href="#">Back to dashboard</a>
      </button>
    </div>
  </body>
</html>
