img{
    max-width: 100%;
}

footer .p-menuitem-text{
    color: #fff !important
}

footer .p-menu {
    background-color: inherit !important;
}

footer .pi{
    font-size: 1.5em !important;
}

.p-button-primary {
    background: var(--primary-color);
}

#home-reviews .p-card-body {
    background: var(--primary-color);
    color: #ffffff;
    border-radius-top: 30px;
}

#home-reviews .p-rating .p-rating-icon.pi-star-fill{
    color: #ffac33;
}

#home-reviews .p-rating .p-rating-icon {
    color: #adacab;
}