/*  */
img{
    max-width: 100%;
}

footer .p-menuitem-text{
    color: #fff !important
}

footer .p-menu {
    background-color: inherit !important;
}

footer .pi{
    font-size: 1.5em !important;
}

.p-button-primary {
    background: var(--primary-color);
}

#home-reviews .p-card-body {
    background: #BDBDBD;
    color: #000000;
}

#home-reviews .p-rating .p-rating-icon.pi-star-fill{
    color: #FFAC33;
}

#home-reviews .p-rating .p-rating-icon {
    color: #ADACAB;
}

.page-hero{
    background: var(--primary-color);
}
/*  */
/* FAQ */
#page-faq-hero{
    background: #D1C9C9;
    background-image: url(/assets/images/faq-hero.png);
}

.p-accordion .p-accordion-tab .p-accordion-toggle-icon{
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 50%;
}


/* END FAQ */
.container {
    position: relative;
    max-width: 1728px;
    margin: 0 auto;
    background: #FDFDFF;
}

@media screen and (max-width: 1440px) {
    .container {
        max-width: 95%;
        margin: 0 auto;
    }
}

.gray {
    color: #7C7C7C;
}

/* =================NAVBAR */
nav .p-avatar {
    border-radius: 50%;
}

nav .p-avatar-icon {
    color: white;
}

nav .p-inputtext::placeholder {
    width: 81px;
    height: 33px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    /* font-size: 24px; */
    line-height: 33px;
    color: #C6B0FF;
}

nav .p-input-icon-left>i:first-of-type {
    color: #C6B0FF;
}

nav .pi-bars {
    color: #7650D4;
    font-size: 1.2rem;
}

nav .p-menubar-button {
    background-color: #44C2FD;
    visibility: hidden;
}

.nav-menu {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    color: #7650D5;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav-search {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(218, 218, 218, 0.25);
    border-radius: 40px;
}

@media screen and (min-width: 1440px) {
    .nav-search {
        width: 640px;
        height: 60px;

    }
}

.nav-plus {
    width: 50px;
    height: 50px;
    background: #7650D5;
    filter: drop-shadow(0px 8px 8px rgba(141, 141, 141, 0.25));
}

/* =================MAIN */
/* SIDEBAR */
@media screen and (min-width: 1440px) {
    .main-sidebar .p-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        gap: 16px;
        width: -moz-fit-content;
        width: fit-content;
        height: 41px;
    }
}

@media screen and (min-width: 1440px) {
    .main-sidebar .p-button .p-button-icon {
        font-size: 2.5rem;
    }
}

.main-sidebar .p-button .pi-sign-out {
    color: #E00000;
}

.main-sidebar .p-button .p-button-label {
    color: #4F4F4F;
}

@media screen and (min-width: 1440px) {
    .main-sidebar .p-button .p-button-label {
        width: 76px;
        height: 41px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 41px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}

.main-sidebar #profile-btn.p-button {
    background: #A07AFF;
}

.main-sidebar #profile-btn.p-button:hover {
    background: #ac8ef8;
}

@media screen and (min-width: 1440px) {
    .main-sidebar #profile-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 40px;
        gap: 12px;
        width: 199px;
        height: 71px;
        /* background: #A07AFF; */
        border-radius: 60px;
    }
}

.main-sidebar #profile-btn .p-button-label {
    color: #FFFFFF;
}

@media screen and (min-width: 1440px) {
    .main-sidebar #profile-btn .p-button-label {
        width: 67px;
        height: 41px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 41px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}

/* HERO */
.main-hero .heading {
    color: #44C2FD;
}

@media screen and (min-width: 1440px) {
    .main-hero .heading {
        width: 260px;
        height: 36px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 35px;
    }
}

.main-hero .profile,
.main-content {
    background: #F2F2FF;
    border-radius: 25px;
}

.main-hero .subheading,
.main-content .subheading {
    color: #8D60FF;
}

@media screen and (min-width: 1440px) {

    .main-hero .subheading,
    .main-content .subheading {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
    }
}

/* CONTENT */
.p-button.submit-btn {
    background: #44C2FD;
}

.p-button-text .p-button-label {
    color: rgba(19, 15, 38, 0.7);
}

.p-dialog {
    width: 60vw;
}

.p-dialog .p-dialog-content {
    color: #4F4F4F;
}

.p-dialog-mask,
.p-componont-overlay {
    background: rgba(255, 255, 255, .8);
}

@keyframes p-component-overlay-enter-animation {
    from {
        background: transparent;
    }

    to {
        background: rgba(255, 255, 255, .8);
    }
}

.p-dialog .p-dialog-content,
.p-dialog .p-dialog-footer {
    background: #F1F1F1;
}

.p-dialog .p-dialog-header {
    background: #E8DFFF;
}

.p-dialog-title {
    color: #4F4F4F;
    text-align: center;
}

.main-content hr {
    border: 1px solid #E0E0E0;
    height: 0;
}

.main-content .p-button.p-button-lg {
    background: #44C2FD;
    padding: 10px 20px;
    width: 180px;
    border-radius: 10px;
}

@media screen and (min-width: 1440px) {
    .main-content .p-button.p-button-lg {
        padding: 12px 24px;
        width: 219px;
        height: 53px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1440px) {
    .main-content .p-button .p-button-label {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .main-content .p-button.p-button-lg {
        padding: 3px;
        width: 80px;
        border-radius: 10px;
    }

    .main-content .p-button .p-button-label {
        font-size: .8rem;
    }

    .p-dialog {
        width: 80vw;
    }
}

@media screen and (max-width: 500px) {
    .main-content .p-button.p-button-lg {
        padding: 1px;
        width: 50px;
        border-radius: 10px;
    }

    .main-content .p-button .p-button-label {
        font-size: .7rem;
    }

    .main-sidebar .p-button {
        padding: 1rem;
        width: -moz-fit-content;
        width: fit-content;
        height: 41px;
    }

    .main-sidebar .p-button .p-button-label {
        font-family: 'Manrope';
        font-style: normal;
        line-height: 41px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}