:root {

    /* colors */

    /* state colors */

    --info: #2F80ED;
    --success: #27AE60;
    --warning: #E2B93B;
    --error: #EB5757;

    /* Button color */

    --primary-btn: #44C2FD;
    --secondary-btn: #7650D4;
    --btn-hover: #22617F;
    --btn-active: #A1E0FE;
    --btn-disable: #E0E0E0;
    --debtor-bg: #e8dfff71;

    /* Debt Status Color */

    --new-debt-bg: #B0E6FF;
    --new-debt-color: #0068E2;
    --denied-debt-bg: #FFAEAE;
    --denied-debt-color:#E21F1F;
    --cleared-debt-color: #00C042;
    --cleared-debt-bg: #CBFFDD;


    /* black colors */

    --black1: #000000;
    --black2: #1D1D1D;
    --black3: #282828;
    --white: #FFFFFF;

    /* Grey colors */

    --Gray1: #333333;
    --grey2: #4F4F4F;
    --grey3: #828282;
    --grey4: #BDBDBD;
    --grey5: #E0E0E0;
}

.side-bar-container {
    grid-area: s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 260px;
    padding: 70px 20px;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-bar.top .first-item {
    margin-bottom: 80px;
}

.side-bar-menu-item img {
    margin-right: 20px;
}

.side-bar-menu-item {
    height: 65px;
    padding: 0px 40px;
    width: 100%;
    color: var(--black2);
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
}

.side-bar-menu-item:hover {
    background-color: var(--secondary-btn);
    color: var(--white);
}

.side-bar-menu-item:active {
    background-color: var(--secondary-btn);
    color: var(--white);
}

.bottom .side-bar-menu-item {
    margin-bottom: 40px;
}

.top .side-bar-menu-item {
    margin-bottom: 40px;
}

/* School Top bar */

.school-topbar {
    grid-area: t;
    max-height: 120px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 40px;
    padding-right: 40px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.school-topbar .topbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 360px;
}

/* School Main */

.school-main {
    grid-area: m;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 40px;
    margin-right: 40px;
    padding-bottom: 25px;
}

/* School Main Layout */

/* School Main Center */



.school-main-center {
    
}

/* Main-center-top  */

.main-center-top {
    margin-left: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
    height: 60px;
}

.main-center-top .search-container input[type=text]::placeholder {
    color: var(--grey5);
    font-size: 24px;
    font-weight: 200;
}

.main-center-top .search-container input[type=text] {
    width: 100%;
    outline: none;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 2px 10px 0.1px var(--grey5);
    padding: 15px 56px;
    font-size: 24px;
    color: var(--grey3);
    margin-right: 40px;
}

.main-center-top .search-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-center-top .search-container #search-icon {
    position: absolute;
    left: 20px;
    top: 15px;
}

.main-center-top .search-container .add-debtor {
    box-shadow: 0px 2px 20px 0.1px var(--grey5);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-btn);
}

.outstanding-debt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 15px;
}

.outstanding-debt-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

/* Main center chart */

.main-center-chart {
    padding: 24px 40px;
    border: 2px solid var(--grey4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 14px;
    margin-bottom: 32px;
    height: 378px;
}

.main-center-chart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.main-center-chart-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-center-chart-bottom-rates-direction p {
    font-size: 12px;
    font-weight: bold;
}

.main-center-chart-bottom-chart {
    margin-left: 10px;
    margin-right: 120px;
}

.main-center-chart-bottom-chart img {
    width: 100%;
}

/* School Main Center Bottom */



/* School Main center bottom top */

.main-center-bottom-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}

.main-center-bottom-top-more a {
    text-decoration: underline;
    font-weight: bold;
}
/* Main center bottom filter */
.main-center-bottom-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.main-center-bottom-filter-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
    width: 100%;
}

.main-center-bottom-filter-right img {
    margin-left: 24px;
}

/* Main ceneter bottom debtors */

.main-center-bottom-debors {

}

.main-center-bottom-debtors-debtor {
    color: var(--secondary-btn);
    background-color: var(--debtor-bg);
    border-radius: 10px;
    padding: 14px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grey4);
    margin-bottom: 6px;
}

.main-center-bottom-debtors-debtor-debt-status {
    max-width: 84px;
    width: 100%;
    padding: 5px 25px;
    border-radius: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-debt {
    background-color: var(--new-debt-bg);
    color: var(--new-debt-color);
}

.denied-debt {
    background-color: var(--denied-debt-bg);
    color: var(--denied-debt-color);
}

.cleared-debt {
    background-color: var(--cleared-debt-bg);
    color: var(--cleared-debt-color);
}

/* School Main Right */
.school-main-right {
    /* background-color: rgba(0, 128, 0, 0.451); */
}

/* School Main Inventory */

.school-main-right-inventory-box {
    height: 467px;
    width: 100%;
    box-shadow: 0px 0px 10px 0.1px var(--grey5);
    border-radius: 10px;
    margin-bottom: 40px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    padding: 40px;
}

.school-main-right-inventory-box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: auto; */
}

.school-main-right-inventory-box-pie {
    margin: 0 auto;
}

/* School Main Right Comments Box */

.school-main-right-comments-box {
    width: 100%;
    height: 397px;
    border-radius: 10px;
    padding: 40px 10px;
    box-shadow: 0px 0px 10px 0.1px var(--grey5);
}

.school-main-right-comments-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

.school-main-right-comments-box-comment {
    background-color: var(--debtor-bg);
    width: 100%;
    padding: 15px 24px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid var(--grey4);
    margin-bottom: 10px;
}

.school-main-right-comments-box-debtors-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 18px;
    height: 100%;
}

.school-main-right-comments-box-debtors-details .st-regular {
    color: var(--grey4);
}

#school-dashboard-chat-icon {
    margin-left: auto;
}

/* School Dashboard Layout */

.school-dashboard-layout {
    height: 100vh;
    /* width: 100%; */
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 120px 1fr;
    grid-template-areas: 
        's t t t t t'
        's m m m m m'
    ;
}

@media (max-width: 1450px) {
    .school-dashboard-layout {
        grid-template-areas:
        't t t t t t'
        'm m m m m m'
        ;
    }

    .side-bar-container {
        display: none;
    }
}

@media (max-width: 1140px) {
    .school-main {
        grid-template-columns: 1fr;
    }
}