.side-bar-container {
    grid-area: s;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 260px;
    padding: 70px 20px;
    /* Remove the backgorund color */
    
    background-color: rgba(0, 255, 255, 0.14); 
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-bar.top .first-item {
    margin-bottom: 110px;
}

.side-bar-menu-item img {
    margin-right: 15px;
}

.side-bar-menu-item svg:hover {
    color: white
}
.side-bar-menu-item svg:hover {
    color: white
}

.icons:hover {
    color: white;
}

.side-bar-menu-item {
    height: 65px;
    padding: 0px 40px;
    width: 100%;
    color: var(--black2);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.side-bar-menu-item:hover {
    background-color: var(--secondary-btn);
    color: var(--white);
}

.top .side-bar-menu-item {
    margin-bottom: 40px;
}

/* School Top bar */

.school-topbar {
    grid-area: t;
    max-height: 120px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.201);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    padding-right: 40px;
}

/* School Main */

.school-main {
    background-color: rgba(0, 0, 255, 0.317);
    grid-area: m;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 40px;
    margin-right: 40px;
}

/* School Main Layout */

/* School Main Center */



.school-main-center {
    background-color: rgba(255, 192, 203, 0.553);
}

/* Main-center-top  */

.main-center-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.outstanding-debt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 15px;
}

.outstanding-debt-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

/* Main center chart */

.Main-center-chart {

}

/* School Main Right */
.school-main-right {
    background-color: rgba(0, 128, 0, 0.451);
}

/* School Dashboard Layout */

.school-dashboard-layout {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 120px 1fr;
    grid-template-areas: 
        's t t t t t'
        's m m m m m'
    ;
}