@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

:root {

    /* colors */

    /* state colors */

    --info: #2F80ED;
    --success: #27AE60;
    --warning: #E2B93B;
    --error: #EB5757;

    /* Button color */

    --primary-btn: #44C2FD;
    --secondary-btn: #7650D4;
    --btn-hover: #22617F;
    --btn-active: #A1E0FE;
    --btn-disable: #E0E0E0;



    /* black colors */

    --black1: #000000;
    --black2: #1D1D1D;
    --black3: #282828;
    --white: #FFFFFF;

    /* Grey colors */

    --Gray1: #333333;
    --grey2: #4F4F4F;
    --grey3: #828282;
    --grey4: #BDBDBD;
    --grey5: #E0E0E0;
}

/* Typography */


/* Heading Typography */

h1 {
    font-size: 56px;
    line-height: 61.6px;
}

h2 {
    font-size: 48px;
    line-height: 52.8px;
}

h3 {
    font-size: 40px;
    line-height: 44px;
}

h4 {
    font-size: 32px;
    line-height: 35.2px;
}

h5 {
    font-size: 24px;
    line-height: 26.4px;
}

h6 {
    font-size: 20px;
    line-height: 22px;
}

/* Body Typography */

.lt-bold {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
.lt-regular {
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 400;
}

.mt-bold {
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 700;
}
.mt-regular {
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 400;
}

.nt-bold {
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 700;
}
.nt-regular {
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
}

.st-bold {
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 700;
}
.st-regular {
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 400;
}

/* Textfields */


/* Input fields */

input {
    padding: 1rem 2rem;
    font-size: 1em;
    border: 1px solid var(--grey4);
    border-radius: 4px;
}

input::placeholder {
    font-size: 1em;
    text-transform: capitalize;
    color: var(--black2);
    font-weight: 400;
}

input.success {
    border: 1px solid var(--success);
}

input.warning {
    border: 1px solid var(--warning);
}

input.error {
    border: 1px solid var(--error);
}

/* Input field incomplete */
/* Input field incomplete */
/* Input field incomplete */
/* Input field incomplete */
/* Input field incomplete */
/* Input field incomplete */


/* Buttons */

.btn {
    display: inline-block;
    padding: 1em 5em;
    border-radius: 8px;
    color: var(--white);
    font-weight: 700;
    border: none;
    /* line-height: 22px; */
}

.btn-pri {
    background-color:var(--primary-btn);
}

.btn-sec {
    background-color:var(--secondary-btn);
}

/* Button Defaults */

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    background-color: var(--btn-hover);
}

.btn:disabled {
    background-color: var(--btn-disable);
}

.btn-full {
    width: 100%;
}

/* Card */

.card {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
}

/* A tag */

a {
    text-decoration: none;
}


/* Side bar Elements */

/* Color classes */
.info {
    color: var(--info);
}

.success {
    color: var(--success);
}

.warning {
    color: var(--warning);
}

.error {
    color: var(--warning);
}

.primary-btn {
    color: var(--primary-btn);
}

.secondary-btn {
    color: var(--secondary-btn);
}

/* Text Decoration */

.text-underline {
    text-decoration: underline;
}