:root {

    /* colors */

    /* state colors */

    --info: #2F80ED;
    --success: #27AE60;
    --warning: #E2B93B;
    --error: #EB5757;

    /* black colors */

    --black1: #000000;
    --black2: #1D1D1D;
    --black3: #282828;
    --white: #FFFFFF;

    /* Grey colors */

    --Gray1: #333333;
    --grey2: #4F4F4F;
    --grey3: #828282;
    --grey4: #BDBDBD;
    --grey5: #E0E0E0;
}