@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  /* max-width: 1728px; */
  /* width: 100%;
  background-color: #b395ff; */
}

:root {
  /* colors */

  /* state colors */

  --info: #2f80ed;
  --success: #27ae60;
  --warning: #e2b93b;
  --error: #eb5757;

  /* Button color */

  --primary-btn: #44c2fd;
  --secondary-btn: #c6b0ff;
  --btn-hover: #22617f;
  --btn-active: #a1e0fe;
  --btn-disable: #e0e0e0;

  /* black colors */

  --black1: #000000;
  --black2: #1d1d1d;
  --black3: #282828;
  --white: #ffffff;

  /* Grey colors */

  --Gray1: #333333;
  --grey2: #4f4f4f;
  --grey3: #828282;
  --grey4: #bdbdbd;
  --grey5: #e0e0e0;
}

/* Typography */

/* Heading Typography */

h1 {
  font-size: 56px;
  line-height: 61.6px;
}

h2 {
  font-size: 48px;
  line-height: 52.8px;
}

h3 {
  font-size: 40px;
  line-height: 44px;
}

h4 {
  font-size: 32px;
  line-height: 35.2px;
}

h5 {
  font-size: 24px;
  line-height: 26.4px;
}

h6 {
  font-size: 20px;
  line-height: 22px;
}

/* Body Typography */

.lt-bold {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.lt-regular {
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 400;
}

.mt-bold {
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 700;
}
.mt-regular {
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 400;
}

.nt-bold {
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 700;
}
.nt-regular {
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
}

.st-bold {
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 700;
}
.st-regular {
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
}

/* Textfields */

/* Input fields */

input {
  padding: 1rem 2rem;
  font-size: 1em;
  border: 1px solid var(--grey4);
  border-radius: 4px;
}

input::placeholder {
  font-size: 1em;
  text-transform: capitalize;
  color: var(--black2);
  font-weight: 400;
}

input.success {
  border: 1px solid var(--success);
}

input.warning {
  border: 1px solid var(--warning);
}

input.error {
  border: 1px solid var(--error);
}

/* Input field incomplete */
/* Input field incomplete */
/* Input field incomplete */
/* Input field incomplete */
/* Input field incomplete */
/* Input field incomplete */

/* Buttons */

.btn {
  display: inline-block;
  padding: 1em 5em;
  border-radius: 8px;
  color: var(--white);
  font-weight: 700;
  border: none;
  /* line-height: 22px; */
}

.btn-pri {
  background-color: var(--primary-btn);
}

.btn-sec {
  background-color: var(--secondary-btn);
}

/* Button Defaults */

.btn:hover {
  background-color: var(--btn-hover);
}

.btn:active {
  background-color: var(--btn-hover);
}

.btn:disabled {
  background-color: var(--btn-disable);
}

.btn-full {
  width: 100%;
}

/* Card */

.card {
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
}
main {
  width: 1728px;
  height: 1117px;
  background-color: #b395ff;
}
.gencont {
  display: flex;
  /* justify-content: center; */
}
.gencont img {
  height: 456px;
  /* height: 100%; */
  width: 430px;
  /* width: 100%; */
  align-items: flex-start;
  margin: 184px 49px 0 120px;
  /* padding-top: 184px; */
}
.logo-sec {
  display: flex;
  align-items: flex-start;
  margin: 0px auto auto 120px;
  padding-top: 72px;
  gap: 16px;
  width: 311px;
  /* width: 100%; */
  height: 74px;
  /* height: 100%; */
}
.logo-sec img {
  width: 65px;
  /* width: 100%; */
  height: 74px;
  /* height: 100%; */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.whitecol {
  height: 62px;
  /* height: 100%; */
  width: 230px;
  /* width: 100%; */
  border-radius: nullpx;
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}
.form {
  height: 963px;
  /* height: 100%; */
  width: 1009px;
  /* width: 100%; */
  border-radius: 64px;
  /* border-radius: 10%; */
  background-color: var(--white);
  margin-right: 120px;
  padding-top: 5px;
  /* margin: 0.45% 7% 6.9% 0%; */
  position: relative;
}
/* .headiv001 {
  width: 504px;
} */
.headiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  height: 164px;
  /* height: 100%; */
  /* width: auto; */
  /* width: 100%; */
  margin: 144px 20% 48px 20%;
  /* margin: 10.21% 18% 4.3% 18%; */
}

.Heading {
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
  /* width: 387px; */
  /* width: 100%; */
  border-radius: nullpx;
  color: var(--black2);
}
/* .Heading001{

} */
.headiv p {
  height: 66px;
  /* height: 100%; */
  /* width: auto; */
  width: 70%;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  color: var(--black3);
  letter-spacing: 0em;
  text-align: center;
}
form {
  width: 734px;
  /* width: 100%; */
  height: auto;
  /* height: 100%; */
  /* margin: 0 7.93% 2.86% 7.99%; */
  margin: 0 137px 32px 138px;
  position: relative;
}
form div {
  width: 733px;
  /* width: 100%; */
  height: 95px;
  /* height: 100%; */
  margin: 0px;
}
form label {
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  color: var(--black3);
  letter-spacing: 0em;
  text-align: left;
}
form input {
  width: 100%;
  margin: 9px 0px;
  height: 55px;
  /* height: 100%; */
}
a {
  text-decoration: none;
  color: #473080;
  cursor: pointer;
}
.panch,
.bottmp {
  /* width: 176px; */
  /* width: 100%; */
  font-weight: 400;
  font-size: 24px;
  height: 33px;
  /* height: 100%; */
  margin-top: 32px;
  position: absolute;
  left: 45%;
}
.reloc {
  left: 25%;
}
.bottmp {
  left: 40%;
}
/* .movedup {
  left: 30%;
} */
.btn-lag {
  width: 734px;
  /* width: 100%; */
  height: 68px;
  /* height: 100%; */
  background-color: #8d60ff;
  /* margin: 8.7% 0 2.7% 0; */
  margin: 97px 0 32px 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  /* text-align: left; */
}
#verify {
  width: 110px;
  margin-left: 24px;
  border: none;
  border-bottom: 2px solid var(--black2);
  border-radius: 0px;
}
/* .firstin {
  margin-left: 150px;
} */

@media only screen and (max-width: 438px) {
  /* body {
    background-color: #f3d1d1;
  } */
  main {
    width: 100%;
    height: 898px;
    /* margin-top: 48px; */
    background-color: #b395ff;
    /* position: relative; */
  }
  .gencont {
    flex-direction: column;
  }
  .gencont img {
    margin: 24.53px 115.23px 0 126.76px;
    height: 195.25132751464844px;
    width: 184.00648498535156px;
  }
  .logo-sec {
    height: 39.79px;
    width: 169.55px;
    /* padding: 40.89px 134.36px 24.53px 133.61px; */
    padding: 40px 0;
    /* position: absolute;
    left: 30.5%; */
    margin: 0 auto 24.53px 134px;
  }
  .logo-sec img {
    height: 39.79px;
    width: 34.95px;
  }
  .whitecol {
    height: 34px;
    width: 126px;
    font-size: 30.6677px;
    line-height: 33px;
  }
  .form {
    /* padding-top: 5px; */
    height: 498.8620300292969px;
    width: 404.81427001953125px;
    border-radius: 24.534198760986328px;
    margin: 49.07px 16.36px 0 16.36px;
    padding-top: 0;
  }
  .headiv {
    gap: 16.36px;
    margin: 41.99px 114.41px 24.53px 114.41px;
    height: 72.35613250732422px;
    /* width: 176px; */
    border-radius: 0px;
  }
  .Heading {
    height: 22px;
    /* width: 132px; */
    font-size: 16px;
    line-height: 22px;
  }
  .headiv p {
    font-size: 12px;
    line-height: 17px;
    height: 34px;
    width: 100%;

    border-radius: nullpx;
  }
  form {
    width: 339.39px;
    height: auto;
    margin: 0 32.71px 24.53px 32.71px;
  }
  form div {
    width: 100%;
    height: 52.14px;
    margin-bottom: 21.6px;
  }
  form label {
    font-size: 13px;
    line-height: 12px;
  }
  form input {
    margin: 4px 0px;
    height: 30.333484649658203px;
    border-radius: 2.206071615219116px;
    border: 0.55px solid #bdbdbd;
  }
  .panch,
  .bottmp {
    margin-top: 24.53px;
    font-size: 11px;
    line-height: 15px;
    height: 15px;
  }
  .btn-lag {
    width: 100%;
    margin: 64.07px 0 32.71px 0;
    height: 40.17490005493164px;
    border-radius: 4.634980201721191px;
    /* padding: 12px, 58px, 12px, 58px; */
    font-size: 12px;
    line-height: 16px;
  }
  #verify {
    max-width: 56.6px;
    width: 100%;
    margin-left: 17.42px;
    border-bottom: 1.45133px solid var(--black2);
  }
}
