<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School sign up</title>
    <link rel="stylesheet" href="./css/logins_signups.css" />
  </head>
  <body>
    <main class="gencont">
      <div class="mobstatusb"></div>
      <div class="logodiv">
        <div class="logo-sec">
          <img src="images/logo-2.svg" alt="logo" />
          <h1 class="whitecol">stuDEBT</h1>
        </div>
        <p class="lt-regular">
          Enter the correct address of your school as registered with C.A.C
        </p>
      </div>
      <div class="form">
        <p class="msg001">
          Already a partner? <a href="school_login.html"> Log in</a>
        </p>
        <div class="horule">
          <hr />
          <hr class="two" />
          <hr class="one" />
        </div>
        <h2 class="head0">Sign up as a partner</h2>
        <form action="#">
          <div>
            <label for="adrss">Address</label><br />
            <input type="text" id="adrss" name="adrss" required />
          </div>
          <div>
            <label for="lga">L.G.A</label><br />
            <input type="text" id="lga" name="lga" required />
          </div>
          <div>
            <label for="stt">State</label><br />
            <input type="text" id="stt" name="stt" required />
          </div>
          <button type="submit" class="btn btn-sec btn-lag">Sign Up</button>
        </form>
      </div>
    </main>
  </body>
</html>
