<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School sign up 2</title>
    <link rel="stylesheet" href="./css/logins_signups.css" />
  </head>
  <body>
    <main class="gencont">
      <div class="logodiv">
        <div class="logo-sec">
          <img src="images/logo-2.svg" alt="logo" />
          <h1 class="whitecol">stuDEBT</h1>
        </div>
        <p class="lt-regular">
          Ensure Your Coporate Affairs Commission (C.A.C) number is correct
        </p>
      </div>
      <div class="form">
        <p class="msg001">
          Already a partner? <a href="school_login.html"> Log in</a>
        </p>
        <div class="horule">
          <hr />
          <hr class="one two" />
          <hr class="Three" />
        </div>
        <h2 class="head0">Sign up as a partner</h2>
        <form action="#">
          <div>
            <label for="phonen">Phone Number</label><br />
            <input type="number" id="phonen" name="phonen" required />
          </div>
          <div>
            <label for="paswd">Password</label><br />
            <input type="password" id="paswd" name="paswd" required />
          </div>
          <div>
            <label for="cac">School C.A.C Number</label><br />
            <input type="number" id="cac" name="cac" required />
          </div>
          <button class="btn btn-sec btn-lag">
            <a href="school_sign_up_3.html">Next</a>
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
